.footer {
  padding: 2rem;
  background: #000;
  color: white;
}
.top i {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 2rem;
}
.top i:hover {
  color: blueviolet;
}
